body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

a:visited,
a:active {
  color: #e0e0e0;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: #e0e0e0;
  padding: 0px 500px;
  marign: 0 auto;
  font-size: 16px;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #e0e0e0;
  padding: 15px 0px;
  z-index: 1000;
  background-color: #121212;
  margin-bottom: 40px;
}

.header__logo {
  font-weight: bold;
  font-size: 20px;
}

.logo__accent {
  color: #007ccf;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header__nav .nav__item {
  margin-left: 20px;
  font-weight: bold;
}

.darkmode_btn,
.language__btn {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.header__nav .nav__link {
  text-decoration: none;
  color: white;
}

.nav__link {
  padding: 10px;
  border-radius: 4px;
  transition: background-color 200ms ease 0s;

  &:hover {
    background-color: #007ccf;
  }
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
}

.section__about {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  position: relative;
  animation: fadeInLeft 1s;
  animation-iteration-count: none;
}

.about__profile {
  flex: 1;
  position: relative;
  animation: fadeInRight 1s;
  animation-iteration-count: none;
}

.about__intro {
  display: flex;
  width: 100%;
  height: auto;
  line-height: 1.6;
}

.about__greeting {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  font-weight: bold;

  xmp {
    margin: 0;
  }
}

.greeting__hello {
  display: flex;
  flex-direction: row;
}

.greeting__tag {
  color: #007ccf;
}

.greeting__name {
  font-weight: bold;
  color: #007ccf;
}

.about__contact {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.contact__item {
  width: 24px;
  height: 24px;
}

.contact__img {
  width: 24px;
  height: 24px;
  object-fit: fill;
}

.about__image {
  width: 100%;
}

.experiences {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.section__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.experiences__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.experiences__contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.experiences__content {
  display: flex;
  justify-content: center;
  height: 270px;
  gap: 160px;

  animation: fadeIn 1200ms ease-in;
  animation-iteration-count: none;
}

.experiences__title {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.experiences__name {
  font-size: 20px;
  font-weight: bold;
  color: #007ccf;
  word-break: keep-all;
}

.content_left {
  display: flex;
  justify-content: end;
}

.content_end {
  height: auto;
}

.experiences__summary {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 400px;
}

.experiences__period {
  font-weight: bold;
}

.experiences__info {
  font-size: 16px;
  line-height: 1.6;
}

.info__list {
  list-style: none;
}

.experiences__bar {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 5px;
  height: 800px;
  background-color: #007ccf;
  border-radius: 8px;
  animation: fadeIn 600ms ease-in;
  animation-iteration-count: none;
}

.experiencse__ball {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 99%;
  border: 5px solid #007ccf;
  background-color: #262626;
  animation: fadeIn 600ms ease-in;
  animation-iteration-count: none;
}

.ball__contents__1 {
  top: 0;
  left: 50%;
}
.ball__contents__2 {
  top: 33%;
  left: 50%;
}
.ball__contents__3 {
  top: 66%;
  left: 50%;
}
.ball__contents__4 {
  top: 100%;
  left: 50%;
}

.ball__ball {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 99%;
  background-color: #007ccf;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.skills_contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  margin-top: 80px;
}

.skill__card {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  height: 200px;
  padding: 30px;
  gap: 24px;
}

.skill_thumnail {
  width: 50px;
  height: 50px;
}

.skill__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skill__title {
  font-size: 20px;
  font-weight: bold;
}

.skill__list {
  list-style: none;
  line-height: 1.6;
}

.projects {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.project__contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 80px;
}

.project__card {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #262626;
  border-radius: 12px;
  gap: 36px;
  padding: 46px;
}

.project__type {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  font-weight: bold;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}

.link__out {
  color: #2e4ad5;

  &:visited {
    color: #2e4ad5;
  }
}

.type__personal {
  color: #e9e9e9;
  background-color: #2e4ad5;
}

.type__team {
  color: #e9e9e9;
  background-color: #77a84c;
}

.project__thumnail {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project__stacks {
  width: 300px;
}

.project__stack {
  display: inline-block;
  padding: 4px;
  margin: 0px 2px 4px 2px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.skill__js {
  color: #262626;
  background-color: #e5bf41;
}

.skill__react {
  color: #262626;
  background-color: #82d7f7;
}

.skill__reactquery {
  background-color: #ec575e;
}

.skill__styledcomponents {
  background-color: #de3896;
}

.skill__ts {
  background-color: #4272ba;
}

.skll__recoil {
  background-color: #4d7bdf;
}

.skill__html {
  background-color: #cc5534;
}

.skill__css {
  background-color: #2e4ad5;
}

.skill__graphql {
  background-color: #d1419a;
}

.skill__next {
  color: #262626;
  background-color: #e9e9e9;
}

.skill__apollo {
  background-color: #1a283f;
}

.project__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  gap: 24px;
}

.link__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.item__title {
  font-size: 14px;
  font-weight: bold;
}

.link__image {
  width: 24px;
  height: 24px;
}

.thumnail__image {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.project__summary {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project__title {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.title__personal {
  color: #2e4ad5;
}

.title__team {
  color: #77a84c;
}

.project__name {
  font-weight: bold;
  font-size: 24px;
}

.project__date {
  font-weight: 200;
  font-size: 14px;
  color: #969696;
}

.project__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project__task {
  padding-top: 12px;
}

.project__label {
  font-weight: bold;
  font-size: 18px;
}

.project__intro {
  line-height: 1.6;
}

.project__list {
  list-style: none;
  line-height: 1.6;
  font-size: 16px;
}

.project__hr {
  background-color: #969696;
  width: 100%;
  height: 1px;
  margin-top: 8px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.contact__contents {
  margin-top: 80px;
}

.footer {
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

.footer__text {
  font-size: 16px;
}

@media screen and (min-width: 1569px) and (max-width: 2023px) {
  body {
    background-color: #121212;
    color: #e0e0e0;
    padding: 0 300px;
    marign: 0 auto;
    font-size: 16px;
  }

  .about__greeting {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bold;

    xmp {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1023px) and (max-width: 1568px) {
  body {
    background-color: #121212;
    color: #e0e0e0;
    padding: 0 140px;
    marign: 0 auto;
    font-size: 16px;
  }

  .about__greeting {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bold;

    xmp {
      margin: 0;
    }
  }
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #121212;
    color: #e0e0e0;
    padding: 0 50px;
    marign: 0 auto;
    font-size: 16px;
  }

  .about__greeting {
    display: flex;
    flex-direction: column;
    font-size: 42px;
    font-weight: bold;

    xmp {
      margin: 0;
    }
  }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background-color: #121212;
    color: #e0e0e0;
    padding: 0 30px;
    marign: 0 auto;
    font-size: 14px;
  }

  .header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #e0e0e0;
    padding: 8px 0px;
    z-index: 1000;
    background-color: #121212;
    margin-bottom: 10px;
  }

  .header__logo {
    font-weight: bold;
    font-size: 18px;
  }

  .logo__accent {
    color: #007ccf;
  }

  .nav__list {
    list-style: none;
    display: flex;
    gap: 5px;
  }

  .header__nav .nav__item {
    margin-left: 3px;
    font-weight: bold;
  }

  .darkmode_btn,
  .language__btn {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .header__nav .nav__link {
    text-decoration: none;
    color: white;
  }

  .nav__link {
    padding: 4px;
    border-radius: 4px;
    transition: background-color 200ms ease 0s;

    &:hover {
      background-color: #007ccf;
    }
  }

  .header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }

  .section__about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  .about__text {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    position: relative;
    animation: fadeInLeft 1s;
    animation-iteration-count: none;
  }

  .about__profile {
    flex: 1;
    position: relative;
    animation: fadeInRight 1s;
    animation-iteration-count: none;
  }

  .about__intro {
    display: flex;
    width: 100%;
    height: auto;
    line-height: 1.4;
  }

  .about__greeting {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;

    xmp {
      margin: 0;
    }
  }

  .greeting__hello {
    display: flex;
    flex-direction: row;
  }

  .greeting__tag {
    color: #007ccf;
  }

  .greeting__name {
    font-weight: bold;
    color: #007ccf;
  }

  .about__image {
    width: 100%;
  }

  .experiences {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .section__title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .experiences__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .experiences__contents {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .experiences__content {
    display: flex;
    justify-content: center;
    height: 150px;
    gap: 80px;
    animation: fadeIn 1200ms ease-in;
    animation-iteration-count: none;
  }

  .experiences__title {
    display: flex;
    flex-direction: column;
    width: 150px;
  }

  .experiences__name {
    font-size: 18px;
    font-weight: bold;
    color: #007ccf;
    word-break: break-all;
  }

  .content_left {
    display: flex;
    justify-content: end;
  }

  .content_end {
    height: auto;
  }

  .experiences__summary {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 150px;
  }

  .experiences__period {
    font-weight: bold;
  }

  .experiences__info {
    font-size: 14px;
    line-height: 1.4;
  }

  .info__list {
    list-style: none;
  }

  .experiences__bar {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 4px;
    height: 450px;
    background-color: #007ccf;
    border-radius: 8px;
    animation: fadeIn 600ms ease-in;
    animation-iteration-count: none;
  }

  .experiencse__ball {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 99%;
    border: 4px solid #007ccf;
    background-color: #262626;
    animation: fadeIn 600ms ease-in;
    animation-iteration-count: none;
  }

  .ball__contents__1 {
    top: 0;
    left: 50%;
  }
  .ball__contents__2 {
    top: 33%;
    left: 50%;
  }
  .ball__contents__3 {
    top: 66%;
    left: 50%;
  }
  .ball__contents__4 {
    top: 100%;
    left: 50%;
  }

  .ball__ball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 99%;
    background-color: #007ccf;
  }

  .skills {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .skills_contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    margin-top: 30px;
  }

  .skill__card {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    height: 200px;
    padding: 20px;
    gap: 15px;
  }

  .skill_thumnail {
    width: 40px;
    height: 40px;
  }

  .skill__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .skill__title {
    font-size: 18px;
    font-weight: bold;
  }

  .skill__list {
    list-style: none;
    line-height: 1.4;
  }

  .projects {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .project__contents {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 30px;
  }

  .project__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
    border-radius: 8px;
    gap: 12px;
    padding: 46px;
  }

  .project__type {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);
    padding: 10px 16px;
    font-weight: bold;
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .project__thumnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    gap: 16px;
  }

  .project__stacks {
    width: 100%;
  }

  .project__stack {
    display: inline-block;
    padding: 4px;
    margin: 0px 2px 4px 2px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
  }

  .project__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    gap: 24px;
  }

  .link__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }

  .link__image {
    width: 25px;
    height: 25px;
  }

  .thumnail__image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .project__summary {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .project__title {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  .project__name {
    font-weight: bold;
    font-size: 24px;
  }

  .project__date {
    font-weight: 200;
    font-size: 12px;
    color: #969696;
  }

  .project__description {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .project__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .project__task {
    padding-top: 12px;
  }

  .project__label {
    font-weight: bold;
    font-size: 16px;
  }

  .project__list {
    list-style: none;
    line-height: 1.4;
    font-size: 14px;
  }

  .project__hr {
    background-color: #969696;
    width: 100%;
    height: 1px;
    margin-top: 4px;
  }
  .footer {
    text-align: center;
    padding: 10px;
    margin-top: 60px;
  }

  .footer__text {
    font-size: 16px;
  }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media screen and (max-width: 479px) {
  body {
    background-color: #121212;
    color: #e0e0e0;
    padding: 0 20px;
    marign: 0 auto;
    font-size: 12px;
  }

  .header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #e0e0e0;
    padding: 8px 0px;
    z-index: 1000;
    background-color: #121212;
    margin-bottom: 10px;
  }

  .header__logo {
    font-weight: bold;
    font-size: 16px;
  }

  .logo__accent {
    color: #007ccf;
  }

  .nav__list {
    list-style: none;
    display: flex;
    gap: 3px;
  }

  .header__nav .nav__item {
    margin-left: 3px;
    font-weight: bold;
  }

  .darkmode_btn,
  .language__btn {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .header__nav .nav__link {
    text-decoration: none;
    color: white;
  }

  .nav__link {
    padding: 2px;
    border-radius: 4px;
    transition: background-color 200ms ease 0s;

    &:hover {
      background-color: #007ccf;
    }
  }

  .header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .section__about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3px;
    margin-top: 10px;
  }

  .about__text {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    position: relative;
    animation: fadeInLeft 1s;
    animation-iteration-count: none;
  }

  .about__profile {
    flex: 1;
    position: relative;
    animation: fadeInRight 1s;
    animation-iteration-count: none;
  }

  .about__intro {
    display: flex;
    width: 100%;
    height: auto;
    line-height: 1.4;
  }

  .about__greeting {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;

    xmp {
      margin: 0;
    }
  }

  .greeting__hello {
    display: flex;
    flex-direction: row;
  }

  .greeting__tag {
    color: #007ccf;
  }

  .greeting__name {
    font-weight: bold;
    color: #007ccf;
  }

  .about__contact {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .contact__item {
    width: 16px;
    height: 16px;
  }

  .contact__img {
    width: 16px;
    height: 16px;
    object-fit: fill;
  }

  .about__image {
    width: 100%;
  }

  .experiences {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .section__title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .experiences__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .experiences__contents {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .experiences__content {
    display: flex;
    justify-content: center;
    height: 150px;
    gap: 40px;
    animation: fadeIn 1200ms ease-in;
    animation-iteration-count: none;
  }

  .experiences__title {
    display: flex;
    flex-direction: column;
    width: 150px;
  }

  .experiences__name {
    font-size: 14px;
    font-weight: bold;
    color: #007ccf;
    word-break: break-all;
  }

  .content_left {
    display: flex;
    justify-content: end;
  }

  .content_end {
    height: auto;
  }

  .experiences__summary {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 150px;
  }

  .experiences__period {
    font-weight: bold;
  }

  .experiences__info {
    font-size: 12px;
    line-height: 1.4;
  }

  .info__list {
    list-style: none;
  }

  .experiences__bar {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 3px;
    height: 450px;
    background-color: #007ccf;
    border-radius: 8px;
    animation: fadeIn 600ms ease-in;
    animation-iteration-count: none;
  }

  .experiencse__ball {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 99%;
    border: 3px solid #007ccf;
    background-color: #262626;
    animation: fadeIn 600ms ease-in;
    animation-iteration-count: none;
  }

  .ball__contents__1 {
    top: 0;
    left: 50%;
  }
  .ball__contents__2 {
    top: 33%;
    left: 50%;
  }
  .ball__contents__3 {
    top: 66%;
    left: 50%;
  }
  .ball__contents__4 {
    top: 100%;
    left: 50%;
  }

  .ball__ball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 3px;
    border-radius: 99%;
    background-color: #007ccf;
  }

  .skills {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .skills_contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
  }

  .skill__card {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    height: 150px;
    padding: 15px;
    gap: 10px;
  }

  .skill_thumnail {
    width: 30px;
    height: 30px;
  }

  .skill__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .skill__title {
    font-size: 14px;
    font-weight: bold;
  }

  .skill__list {
    list-style: none;
    line-height: 1.4;
  }

  .projects {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .project__contents {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
  }

  .project__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
    border-radius: 8px;
    gap: 12px;
    padding: 46px 15px 15px 15px;
  }

  .project__type {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .project__thumnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    gap: 16px;
  }

  .project__stacks {
    width: 100%;
  }

  .project__stack {
    display: inline-block;
    padding: 4px;
    margin: 0px 2px 4px 2px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
  }

  .project__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    gap: 24px;
  }

  .link__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .link__image {
    width: 20px;
    height: 20px;
  }

  .thumnail__image {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
  }

  .project__summary {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .project__title {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
  }

  .project__name {
    font-weight: bold;
    font-size: 20px;
  }

  .project__date {
    font-weight: 200;
    font-size: 10px;
    color: #969696;
  }

  .project__description {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .project__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .project__task {
    padding-top: 12px;
  }

  .project__label {
    font-weight: bold;
    font-size: 14px;
  }

  .project__intro {
    line-height: 1.4;
  }

  .project__list {
    list-style: none;
    line-height: 1.4;
    font-size: 12px;
  }

  .project__hr {
    background-color: #969696;
    width: 100%;
    height: 1px;
    margin-top: 4px;
  }
  .footer {
    text-align: center;
    padding: 10px;
    margin-top: 50px;
  }

  .footer__text {
    font-size: 14px;
  }
}
