@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

body{
  display: flex;
  flex-direction: column;
  
  margin-left: 160px;
  margin-right: 160px;
}


.header-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: 21px;
  margin-top: 100px;
  
}

.header-nav nav{
  display: flex;
  flex-direction: row; 
}

.header-nav nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header-nav nav ul a{
  margin-left: 31px;
  color: black;
  text-decoration: none;
}

.main{
  margin-top: 220px;
  display: flex;
  flex-direction: column;
}

.main .header-main{
  display: flex;
  flex-direction: column;
}

.main .header-main .hello-kr{
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

.main .header-main .hello-en{
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: rgba(96, 96, 96, 0.3);
  letter-spacing: -0.03em;
}

.main .section-intro{
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .section-intro img {
  display: block;
  width: 443px;
  height: 552px;
}

.main .section-intro .intro-text-wrap {
  margin-left: 100px;
}

.main .section-intro .intro-text-wrap .intro-text-head {
  width: 480px;
  height: 199px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 97.2%;
  letter-spacing: -0.03em;
}

.main .section-intro .intro-text-wrap .intro-text-main {
  margin-top: 30px;
  width: 575px;
  height: 359px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 117%;
  letter-spacing: -0.03em;
}


.main .section-resume .information {
  display: flex;
  flex-direction: column;
  
}
.main .section-resume .information .info{
  display: flex;
  flex-direction: row;
}

.main .section-project{
  display: flex;
  flex-direction: column;
}

.main .section-project .project{
  display: flex;
  flex-direction: row;
}

.main .section-project .project .project-summary{
  display: flex;
  flex-direction: column;
}

.main .section-contact{
  display: flex;
  flex-direction: row;
}

.main .section-contact .contact{
  display: flex;
  flex-direction: row;
}

footer{
  display: flex;
  flex-direction: row;
}

footer ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}
